<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>
<!-- Design for specificatoins above grid --!>
<form class="form-horizontal" role = "form">
    <label class="col-md-2" for="date/time">Starting date and time: </label>
        <input class="col-md-2" id="date" placeholder="YYYY/MM/DD">
        <input class="col-md-2" id="time" placeholder="HH:MM">
</form>
<form class="form-horizontal" role="form">
    <label class="col-md-2" for="distance">Race distance:</label>
        <select class="control-label col-md-1" id="distance">
            <option>200</option>
            <option>300</option>
            <option>400</option>
            <option>600</option>
            <option>1000</option>
        </select>
</form>
<form class="form-horizontal" role="form">
    <label class="col-md-2" for="units">Input distances are:</label>
        <select class="control-label col-md-1" id="Iunits">
            <option>mile</option>
            <option>kilometers</option>
        </select>
</form>
<form class="form-horizontal" role="form">
    <label class="col-xs-2" for="units">Output distances are:</label>
        <select class="control-label col-xs-1" id="0units">
            <option>miles</option>
            <option>kilometers</option>
        </select>
</div>    
</form>
<p></p>
  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<!-- Design on bootstrap grid -->
<form role="form" id="form-holder"></form>

<script type="text/javascript">
    $(document).ready(function() {
        var template = 
            '<div class="row">'+
                '<div class="col-md-2">'+
                    '<input type="text" class="form-control" name="miles" placeholder="Distance (miles)"/>'+
                '</div>'+
            '<div class="col-md-4">'+
                '<input type="text" class="form-control" name="location" placeholder="Location" />'+
            '</div>'+
            '<div class="col-md-4">'+
                '<span class="times form-control">(times)</span>'+
            '</div>'+
        '</div>';
        var $par = $('#form-holder');
        // A function so you can add more rows later, like say on a button press
        function addRow() {
            $par.append($(template));
        }
        // Start with 10 rows default
        var num_rows = 10;
        for (var i = 0; i < num_rows; i++) {
            addRow();
        }
    });
</script>


<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();

              var target = $(this).parents(".row").find(".times");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { miles: e_miles },
                  // The function to call with the response
                  function(data) {
                     var times = data.result;
                     // alert("Got a response: " +  times);
                     target.text(times);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
